html {
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

.LoadingScreen-root {
  text-align: center;
}

.LoadingScreen-img {
  width: 10%;
  animation: roll 2s infinite;
  animation-timing-function: linear;
  /* transform: rotate(30deg); */
}

@keyframes roll {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.25) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(1.25) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.PokedexDetailView-root {
  display: flex;
  flex-direction: row;
  min-height: 412px;
}

.PokemonFacts-root {
  width: 70%;
}


@media (max-width: 1280px) {
  .PokedexDetailView-root {
    display: flex;
    flex-direction: column;
    min-height: 412px;
  }
  
  .PokemonFacts-root {
    width: 320px;
    margin: 20px auto;
  }
}

.PokemonCard-root {
  width: 320px;
  height: 412px;
  text-align: center;
  transition: all 0.25s ease;
}

.PokedexListView-Grid-item .PokemonCard-root:hover {
  transform: scale(1.1);
  box-shadow: 5px 15px 20px rgba(0,0,0,0.25);
}

.PokedexListView-searchbar {
  margin: 3.2rem auto;
}

.PokemonCard-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.PokemonCard-typebutton {
  color: white;
  border-radius: 10px;
}

.grass {
  background: #73902B;
}

.poison {
  background: #632F70;
}

.fire {
  background: #B64C02;
}

.flying {
  background: linear-gradient(#0E82A4 50%, #3F4447 50%);
}

.water {
  background: #2F6E95;
}

.bug {
  background: #5B7F32;
}

.normal {
  background: #484E50;
}

.electric {
  background: #A8930D;
}

.ground {
  background: linear-gradient(#A48E08 50%, #897934 50%);
}

.fairy {
  background: #5C0341;
}

.fighting {
  background: #A9521B;
}

.psychic {
  background: #8A0A55;
}

.rock {
  background: #81701A;
}

.steel {
  background: #405758;
}

.ice {
  background: #157795;
}

.ghost {
  background: #5E4B7E;
}

.dragon {
  background: linear-gradient(#296A8F 50%, #93210B 50%);
}

#AboutView-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#AboutView-flex-left {
  flex: 0 0 50%;
  text-align: center;
}

#AboutView-flex-right {
  flex: 1;
}

#AboutView-img {
  width: 50%;
}

.Footer {
  margin-top: 4rem;
  text-align: right;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.size-full {
  width: 100%;
  height: 100%;
}