html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: beige;
}

a {
  color: black;
  text-decoration: none;
}

.MuiAppBar-root {
  margin-bottom: 2em;
}

.LoadingScreen-root {
  text-align: center;
}

.LoadingScreen-img {
  width: 10%;
  animation: roll 2s infinite;
  animation-timing-function: linear;
  /* transform: rotate(30deg); */
}

@keyframes roll {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.25) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(1.25) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.PokemonCard {
  text-align: center;
  font-size: 1.2rem;
  width: 350px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  transition: all 0.25s ease;
}

.PokedexListView-Grid-item .PokemonCard:hover {
  transform: scale(1.1);
  box-shadow: 5px 15px 20px rgba(0,0,0,0.25);
}

.PokemonCardImg {
  width: 100%;
}

#AboutView-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#AboutView-flex-left {
  flex: 0 0 50%;
  text-align: center;
}

#AboutView-flex-right {
  flex: 1;
}

#AboutView-img {
  width: 50%;
}

.Footer {
  margin-top: 4rem;
  text-align: right;
}